*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  background-color: #121111;
  overflow-x: hidden;
}
p, h1, h2, h3, h4, h5, h6{
  color: white;
}


h1{
  font-size: 3rem;
  text-align: center;
}